/*
 * Copyright (c) 2021. Julien Fischer
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/*************************************************************************
    RESET
*************************************************************************/

* {
    margin: 0;
    padding: 0;
}

/*************************************************************************
    COMPONENTS
*************************************************************************/

button, select, input[type=checkbox], label {
    cursor: pointer;
}

/* Toggle Button [default] */

.toggle-button {
    padding: 8px 12px;
    background: var(--toggle-btn-background);
    color: var(--toggle-btn-foreground);
    transition: .12s;
    border: none;
    border-top: 1px solid var(--toggle-btn-border);
    border-bottom: 1px solid var(--toggle-btn-border);
}

.toggle-button:hover {
    background: var(--toggle-btn-hover-background);
    color: var(--toggle-btn-hover-foreground);
}

.toggle-button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: 1px solid var(--toggle-btn-border);
}

.toggle-button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid var(--toggle-btn-border);
}

.toggle-button:not(:first-child) {
    border-left: 1px solid var(--toggle-btn-border);
}

.toggle-button.active {
    background: var(--toggle-btn-active-background);
    color: var(--toggle-btn-active-foreground);
    border-color: var(--toggle-btn-active-border);
}

.toggle-button.active:hover {
    background: var(--toggle-btn-active-hover-background);
    color: var(--toggle-btn-active-hover-foreground);
}

/* Toggle Button [tab] */

.toggle-button-tab {
    display: block;
    padding: 8px 20px;
    background: var(--neutral-2);
    border: none;
    border-right: 4px solid rgba(0, 0, 0, .05);
    margin-bottom: 1px;
    text-align: left;
    transition: .12s;
    width: 100%;
}

.toggle-button-tab:hover {
    background: var(--neutral-3);
}

.toggle-button-tab.active {
    border-right: 4px solid var(--accent-primary);
    background: var(--accent-primary-light);
}

.close-btn {
    color: var(--close-btn-foreground);
    font-size: 16px;
    padding: 12px 18px;
    transition: .2s;
}

.close-btn:hover {
    background: #a20014;
    color: white;
}

input[type=text],
select,
textarea {
    color: var(--form-element-foreground);
}

input[type=checkbox] {
    margin-right: 5px;
}

.table-read-only {
    width: 100%;
}

.table-read-only td, .table-read-only th {
    padding: 2px 10px;
    border: 1px solid var(--table-read-only-header-border);
    color: var(--table-read-only-foreground);
}

.table-read-only tr {
}

.table-read-only td {
}

.table-read-only th {
    text-align: left;
    background: var(--table-read-only-header-background);
    color: var(--global-strong-foreground);
}

.table-read-only tr:nth-child(even) {
    background: var(--table-read-only-even-background);
}

.tag {
    text-align: center;
    color: var(--tag-foreground);
    display: inline-block;
}

.tag.plain {
    border-radius: 4px;
    font-size: .9em;
}

.tag.iconified {
    border-radius: 20px;
    font-size: .8em;
}

.tag.plain .tag-name {
    padding: 2px 8px;
    text-align: center;
    font-family: monospace, monospace;
}

.tag div {
    display: inline-block;
    vertical-align: middle;
}

.tag-icon {
    padding: 7px;
    border-radius: 20px;
    margin-right: 8px;
    background: rgba(0, 0, 0, .3);
}

.tag-name {
    text-transform: capitalize;
}

.tag.iconified .tag-name {
    margin-right: 15px;
}

.tag .icon {

}

/*************************************************************************
    MODIFIERS
*************************************************************************/

.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.unselectable {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.label-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*************************************************************************
    SYNTAX HIGHLIGHTING
*************************************************************************/

.token.delimiter {
    color: var(--syntax-delimiter);
}

.token.string {
    color: var(--syntax-string);
}

.token.value {
    color: var(--syntax-value);
}

.token.number {
    color: var(--syntax-number);
}

.token.boolean {
    color: var(--syntax-boolean);
}

.token.tag {
    color: var(--syntax-tag);
}

.token.key {
    color: var(--syntax-key);
}

.token.attribute {
    color: var(--syntax-attribute);
}

.token.keyword {
    color: var(--syntax-keyword);
}

.token.separator {
    color: var(--syntax-separator);
}

/*************************************************************************
    STATUS
*************************************************************************/

/* Location */

.top { }

.left { }

.bottom { }

.right { }

/* Orientation */

.horizontal { }

.vertical { }

/* Interface */

.clickable { }

.draggable { }

.dockable { }

/* State */

.hidden {
    display: none;
}

.closed { }

.active { }

.selected { }

.disabled { }

.highlighted {
    background: var(--global-highlighted-background);
}

.minimized { }

.dragged { }

.clickable {
    cursor: pointer;
}

/* Message */

.success { }

.error { }

.warn { }

.info { }
